doctype 5
html(ng-app="djApp")
  head
    title WYBC DJ Dashboard
    link(rel='stylesheet', href="csslib/bootstrap.min.css")
    link(rel='stylesheet', href="csslib/bootstrap-responsive.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="/jslib/bootstrap.min.js")
    script(src="/jslib/utils.min.js")
  body(ng-controller="MainCtrl")
    img(src="img/goat.png", class="atleft hideme")
    h1(class="coolgray hideme") WYBC
    tabset.atright
        tab(heading="listen", select="doit('/listen')")
        tab(heading="shows", select="doit('/shows')")
        tab(heading="blog", select="doit('/blog')")
        tab(heading="zine", select="doit('/zine')")
    div(ng-view)
