h2 Songs on Screen
h5.smallhideme with Sam and Peter
p.mute(ng-class="{nomute: !stream.muted", ng-click="muteme()") mute
div(scroll-glue, class="well chatbox")
    div(ng-repeat="chat in chats")
        div(ng-switch="chat.type")
            .chatitem(ng-switch-when="chat") <b>{{chat.speaker}}</b>
                span.says {{chat.content}}
            .announce(ng-switch-when="announce") {{chat.content}}

form(class="navbar-form", ng-submit="makeChatter()")
    input(type="text", ng-model="chatter", placeholder="Chat about the show", class="input-block-level")

audio.hideme(autoplay='true', data-player-control="stream", audio-player)
    source(src="http://wybc.com:8000/x.mp3", type="audio/mp3")

script(type="text/ng-template", id="askId")
    div.modal-header
        h3 What should we call you?
    div.modal-body
        form(class="navbar-form", ng-submit="submit()")
            input(type="text", ng-model="conf.name", placeholder="Give us your chat handle", class="input-block-level")
    div.modal-footer
