h2 {{chatinfo.show.name}}
h5.hidden-xs {{chatinfo.show.hosts}}
//- p.mute(ng-class="{nomute: stream.muted}", ng-click="stream.toggleMute()") mute
p.mute mute
div(scroll-glue, class="well chatbox")
    div(ng-repeat="chat in chatinfo.chats")
        div(ng-switch="chat.type")
            .chatitem(ng-switch-when="chat") <b>{{chat.name}}</b>
                span.says {{chat.content}}
            .announce(ng-switch-when="announce") {{chat.content}}
            .notify(ng-switch-when="join") {{chat.name}} is listening
            .notify(ng-switch-when="leave") {{chat.name}} stopped listening

form(class="navbar-form", ng-submit="chatinfo.makeChatter()")
    input(type="text", ng-model="chatinfo.chatter", placeholder="Chat about the show", class="form-control")

//- audio.hidden(autoplay='true', data-playlist="playlist", data-player-control="stream", audio-player)

script(type="text/ng-template", id="askId")
    div.modal-header
        h3 What should we call you?
    div.modal-body
        form(class="navbar-form", ng-submit="submit()")
            input(type="text", ng-model="my.nickname", placeholder="Give us your chat handle", class="form-control")
    div.modal-footer
