doctype 5
html(ng-app="myApp")
  head
    title WYBC Yale Radio
    link(rel='stylesheet', href="csslib/bootstrap.min.css")
    link(rel='stylesheet', href="csslib/bootstrap-responsive.min.css")
    link(rel="shortcut icon", type="image/x-icon", href="/img/goat.png")
    != css('header')
    != css('utilities')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="/jslib/bootstrap.min.js")
    script(src="/jslib/utils.min.js")
    != js('listenroute')
    != js('listenmain')
  body(ng-controller="MainCtrl")
    img(src="img/goat.png", class="atleft bighideme")
    h1(class="wybclogo midhideme") WYBC
    tabset(class="atright smallhideme")
        tab(heading="listen", select="doit('/listen')")
        tab(heading="shows", select="doit('/shows')")
        tab(heading="blog", select="doit('/blog')")
        tab(heading="zine", select="doit('/zine')")
    div(ng-view)
