doctype 5
html(ng-app="listenApp")
  head
    title WYBC Yale Radio
    link(rel='stylesheet', href="csslib/bootstrap.min.css")
    link(rel='stylesheet', href="csslib/bootstrap-responsive.min.css")
    link(rel="shortcut icon", type="image/x-icon", href="/img/goat.png")
    != css('header')
    != css('utilities')
    
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/angular-socket-io/socket.js")
    != js('listenroute')
  body(ng-controller="MainCtrl")
    img(src="img/goat.png", class="atleft bighideme")
    h1(class="wybclogo midhideme") WYBC
    tabset(class="atright smallhideme")
        tab(heading="listen", select="doit('/listen')")
        tab(heading="shows", select="doit('/shows')")
        tab(heading="blog", select="doit('/blog')")
        tab(heading="zine", select="doit('/zine')")
    div.container
        div(ng-view)
