extends layout

block content
    div(class="container")
      h2 Songs on Screen
      h5 with Sam and Peter
      .mid
        div(class="well fixedheight")
            .chatitem <b>Dickface</b>
                span.says this is some content
            .chatitem <b>Mojo</b>
                span.says go fuck yourself
            .announce Now Playing: Great Song
            .chatitem <b>Harry</b>
                span.says What's up guys
            .chatitem <b>Sally</b>
                span.says I love you
            .chatitem <b>Dickface</b>
                span.says this is some content
            .chatitem <b>Mojo</b>
                span.says go fuck yourself
            .announce Now Playing: Great Song
            .chatitem <b>Harry</b>
                span.says What's up guys
            .chatitem <b>Sally</b>
                span.says I love you
            .chatitem <b>Dickface</b>
                span.says this is some content
            .chatitem <b>Mojo</b>
                span.says go fuck yourself
            .announce Now Playing: Great Song
            .chatitem <b>Harry</b>
                span.says What's up guys
            .chatitem <b>Sally</b>
                span.says I love you
            .chatitem <b>Dickface</b>
                span.says this is some content
            .chatitem <b>Mojo</b>
                span.says go fuck yourself
            .announce Now Playing: Great Song
            .chatitem <b>Harry</b>
                span.says What's up guys
            .chatitem <b>Sally</b>
                span.says I love you
            .chatitem <b>Dickface</b>
                span.says this is some content
            .chatitem <b>Mojo</b>
                span.says go fuck yourself
            .announce Now Playing: Great Song
            .chatitem <b>Harry</b>
                span.says What's up guys
            .chatitem <b>Sally</b>
                span.says I love you
            .chatitem <b>Dickface</b>
                span.says this is some content
            .chatitem <b>Mojo</b>
                span.says go fuck yourself
            .announce Now Playing: Great Song
            .chatitem <b>Harry</b>
                span.says What's up guys
            .chatitem <b>Sally</b>
                span.says I love you
            

    form(class="navbar-form")
        input(type="text", placeholder="Chat about the show", class="input-block-level")
block csscontent