extends layout

block content
    div(class="container")
      p content goes here and there are everywhere content goes here and there are everywherecontent goes here and there are everywherecontent goes here and there are everywherecontent goes here and there are everywherecontent goes here and there are everywherecontent goes here and there are everywherecontent goes here and there are everywherecontent goes here and there are everywhere
