extends layout

block content
    != css('dashboard')
    != js('dashboard')
    div.mid(ng-controller="DashCtrl")
        div.show
            div.info
            img(src="/showpics/00000.jpg").showpic
            div.showname <b>Show Name</b>
            div.showtime Fridays at 3PM – on air in 2 hours
            div.showdesc
                | This is a show description that is long
                | and cool and wonderful. We will be awesome
                | and great and we have a cool show.
                | so great that we love it so much
                | oh yeah baby wham bam thank you maam
                | so good and yeah that's it. 
            div.controls
                div.cthing
                    a(href="/onair") On Air
                div.cthing
                    a Pre-record
                div.cthing
                    a(ng-click="sendsub()") Can't make it
            div.promotion
                span.pthing
                    a Blog
                span.pthing
                    a(ng-click="promo = true") Promo
        div.show
            div.info
            img(src="/showpics/00000.jpg").showpic
            div.showname <b>Show Name</b>
            div.showtime Fridays at 3PM – on air in 2 hours
            div.showdesc
                | This is a show description that is long
                | and cool and wonderful. We will be awesome
                | and great and we have a cool show.
                | so great that we love it so much
                | oh yeah baby wham bam thank you maam
                | so good and yeah that's it. 
            div.controls
                div.cthing
                    a On Air
                div.cthing
                    a Pre-record
                div.cthing
                    a Can't make it
            div.promotion
                span.pthing
                    a Blog
                span.pthing
                    a Promo
        div(modal="showsent", close="showsent = false")
            div.modal-header
                h3 We sent an email
            div.modal-body If someone subs your show, we'll give you a heads up.
            div.modal-footer
        div(modal="promo", close="promo = false")
            div.modal-header
                h3 Upload a promo
            div.modal-body
                div(ng-file-drop="onFileSelect($files)").well
                    span(ng-show="!progress") Drag to upload
                    span(ng-show="progress") Uploaded: {{progress}}%
            div.modal-footer

