doctype 5
html(ng-app="djApp")
  head
    title WYBC Yale Radio
    link(rel='stylesheet', href="csslib/bootstrap.min.css")
    link(rel='stylesheet', href="csslib/bootstrap-responsive.min.css")
    link(rel="shortcut icon", type="image/x-icon", href="/img/goat.png")
    != css('djheader')
    != css('utilities')
    script(src="/jslib/angular-file-upload-shim.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="/jslib/bootstrap.min.js")
    script(src="/jslib/utils.min.js")
    script(src="/jslib/angular-file-upload.min.js")
    != js('dj')    
  body
    h1(class="wybclogo hideme") WYBC DJ
    block content