.mute {
	text-align: right;
	font-size: 12px;
	text-decoration:line-through
	margin-bottom: 0px;
	cursor: pointer;
}

.nomute {
	text-align: right;
	font-size: 12px;
	margin-bottom: 0px;
	cursor: pointer;
}

.notitle {
	position: absolute;
	top: 100px;
	left: 300px;
}
