.mute {
	text-align: right;
	font-size: 12px;
	text-decoration:line-through
	margin-bottom: 0px;
	cursor: pointer;
}

.nomute {
	text-align: right;
	font-size: 12px;
	margin-bottom: 0px;
	cursor: pointer;
}

@media (min-width: 980px) {
	.mid {
		padding-left: 75px;
		padding-top: 10px;
	}
}

.notitle {
	position: absolute;
	top: 100px;
	left: 300px;
}
