.nav, .pagination, .carousel a { cursor: pointer; }

.atleft {
	position: absolute;
	left: 20px;
	top: 10px;
}

.mute {
	text-align: right;
	font-size: 12px;
	text-decoration:line-through
	margin-bottom: 0px;
}

.fixedheight {
	height: 400px;
	overflow:scroll;
}

.coolgray {
	position: absolute;
	right: 275px;
	top: 10px;
	margin-top: -5px;
	color:#999999;
}

.announce {
	font-size: 20px;
	padding: 14px;
	font-style:italic;
}

.chatitem {
	font-size: 16px;
	padding: 6px;
}

.says {
	padding-left: 20px;
}

.mid {
	padding-left: 75px;
	padding-top: 10px;
}

.atright {
	position: absolute;
	top: 10px;
	right: 10px;
}

.notitle {
	position: absolute;
	top: 100px;
	left: 300px;
}

.middle {
	padding-top: 120px;
}

@media (max-width: 980px) {
	.hideme { display:none !important; }
}
