div.login
    h1 Log In
    form.form-horizontal(role="form", novalidate, ng-submit='login()')
        div.form-group
            label.control-label(for='inputName') Username
            div
                input.form-control(type='text', ng-model="username", id='inputName')
        div.form-group
            label.control-label(for='inputPassword') Password
            div
                input.form-control(type='password', ng-model="password", id='inputPassword')
        div.form-group
            div
                button.btn(class="btn-default", type='submit') Sign in
