a { cursor: pointer; }

.login
    padding-left: 10%;
    padding-top: 20%;
    padding-right: 10%;
    max-width: 500px;

// input.ng-invalid.ng-dirty
//     background-color: #FA787E
    
// input.ng-valid.ng-dirty
//     background-color: #78FA89
