a { cursor: pointer; }

@media (max-width: 540px) {
	.hideme { display:none !important; }
}

@media (max-width: 895px) {
	.midhideme { display:none !important; }
}

@media (max-width: 1410px) {
	.bighideme { display:none !important; }
}

@media (max-width: 556px) {
	.smallhideme { display:none !important; }
}