div.container
    .mid
        .row
            .col-xs-5(class="hidden-xs")
                img.down(class='bordered', id="showpic", ng-file-drop="onImgSelect($files);", ng-src="#{AROOT}/image/{{ showimg }}")
            .col-xs-7
                h1 {{showinfo.name}}
                h3.indent {{showinfo.time}}
                .row(class="down")
                    .col-xs-4(class="hidden-xs")
                        div(ng-show="dropSupported", class="bordered drop-box", ng-file-drop="onPromoSelect($files);", ng-file-drop-available="dropSupported=true")
                            | {{promotext()}}
                    .col-xs-5(class="hidden-xs")
                        div(ng-show="dropSupported", class="bordered drop-box", ng-file-drop="onRecSelect($files);", ng-file-drop-available="dropSupported=true")
                            | {{rectext()}}
                    .col-xs-3
                        button(class="btn btn-lg btn-default", ng-click="onAir()") On Air
        p.desc(ng-show="!editing") {{showinfo.description}}
            | <a ng-click="editing = true"><i>Edit</i></a>

        form.desc(role="form", ng-show="editing")
            div.form-group
                textarea.form-control(rows="3", ng-model="showinfo.description")
            button(type="submit", class="btn btn-default", ng-click="edit()") Save
