div.container
    h2 Songs on Screen
    h5 Fridays at 3PM 

    a(ng-click="onAir()") On Air

    div(ng-file-drop="onFileSelect($files)").well
        span(ng-show="!progress && !finished") Drop a file to upload
        span(ng-show="progress && !finished") Uploaded: {{progress}}%
        span(ng-show="finished") All done

//- add the promo uploader
//- add an image uploader / viewer
//- allow editing a description field
//- style the dash
//- client.putFile

