@media (min-width: 540px) {
	.mid {
		position: fixed;
		top: 20%;
		@media (min-width: 1090px) {
			left: 30%;
		}
	}
}

.indent
	padding-left: 30px;

.down
	margin-top: 20px;

.desc
	margin-top: 20px;
	max-width: 640px;
	margin-left:auto;
	margin-right:auto;
	text-align: justify;

.drop-box {
	display: block;
	background: #F8F8F8;
	padding: 3px; 
	width: 120px;
}

.bordered
	border: 5px dashed #DDD;
	padding: 3px;

.bordered.dragover
	border: 5px dashed blue;