@media (min-width: 540px) {
	.mid {
		position: fixed;
		top: 20%;
		@media (min-width: 1090px) {
			left: 30%;
		}
	}
}

button.spaced
	vertical-align: baseline;

.indent
	padding-left: 30px;

.down
	margin-top: 20px;

.desc
	margin-top: 20px;
	width: 95%;
	margin-left:auto;
	margin-right:auto;

.spaced
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	padding: 3px; 
}

.drop-box.dragover {
	border: 5px dashed blue;
}