@media (min-width: 540px) {
	.mid {
		position: fixed;
		top: 10%;
		@media (min-width: 1090px) {
			left: 20%;
		}
	}
}

.showpic {
	float: left;
	padding-right: 15px;
}

.show {
	position: relative;
	height: 250px;
}

.showname {
	font-size: 30px;
	padding-bottom: 10px;
}

.showtime {
	font-size: 16px;
	font-style: italic;
	padding-bottom: 15px;
	color:#999999;
}

.showdesc {
	font-size: 14px;
	max-width: 650px;
	text-align:justify;
	max-height: 80px;
	overflow:scroll;
}

.controls {
	position: absolute;
	left: 680px;
	top: 48px;
	line-height: 190%;
	width: 300px;
}

.cthing {
	font-size: 12px;
}

.promotion {
	position: absolute;
	top: 150px;
	right: -15px;
}

.pthing {
	margin: 5px;
	font-size: 12px;
}
