div(class="container")
    .inyoface
        div(scroll-glue, class="well chatbox")
            div(ng-repeat="chat in chats")
                div(ng-switch="chat.type")
                    .chatitem(ng-switch-when="chat") <b>{{chat.speaker}}</b>
                        span.says {{chat.content}}
                    .announce(ng-switch-when="announce") {{chat.content}}
        tabset
            tab(heading="chat")
                form(ng-submit="makeChatter()")
                    input(type="text", ng-model="chatter", placeholder="Chat about the show", class="form-control")
            tab(heading="log a song")
                form(ng-submit="announce()")
                    input(type="text", ng-model="song", placeholder="Song (Artist – Album)", class="form-control")
            tab(heading="soundboard")
                div.sounds(class="spacer")
                    a.wellspaced WYBC Promo
                    a.wellspaced Show Promo
                    a.wellspaced Sting
