div(class="container", ng-controller="OnAir")
    .mid
        div(scroll-glue, class="well chatbox")
            div(ng-repeat="chat in chats")
                div(ng-switch="chat.type")
                    .chatitem(ng-switch-when="chat") <b>{{chat.speaker}}</b>
                        span.says {{chat.content}}
                    .announce(ng-switch-when="announce") {{chat.content}}
        tabset
            tab(heading="chat")
                form
                    input(type="text", placeholder="Chat about the show", class="input-block-level")
            tab(heading="log a song")
                form
                    input(type="text", placeholder="Song, Artist, Album", class="input-block-level")
            tab(heading="soundboard")
                div.sounds
                    a.wellspaced WYBC Promo
                    a.wellspaced Show Promo
                    a.wellspaced Sting
